<div>
<h1>Web development</h1>
<p>
	<ul>
		<li>HTML, CSS, Bootstrap basics</li>
		<li>JavaScript, jQuery basics</li>
		<li>Ruby, Rails basics</li>
		<li>GitHub basics</li>
		<li>vi, Textmate</li>
		<li>Linux basics</li>
	</ul>
</p>
</div>