<div id="left_content">
	<h1>Studies</h1>
	<p>
		<h4>Diplomas</h4>
		<p><span>1999 - </span>Bachelor's degree, Secondary Education and Teaching<br />
			<span>Fall 2012 - </span>Dev Bootcamp</p>
		<h4>Languages</h4>
		<ul>
			<li>Mother tongue: German</li>
			<li>Read, written, and spoken English</li>
		</ul>
	</p>
</div>