
<div id="content_1">
	<%= render 'static_pages/content_webdevelopment' %>
	<%= render 'static_pages/content_teaching' %>
	
</div>
<div id="content_2">
	
	<%= render 'static_pages/content_studies_lang' %>

</div>
<div id="content_3">
	
	<%= render 'static_pages/content_contact' %>
	
</div>