<div id="content_teaching">
	<h1>Teaching Experience</h1>
	<p>
		<ul>
			<li>12 years in Middle Schools in <%= link_to "Himberg", "http://www.hauptschule-himberg.at",
				rel: "Link to the school in Himberg ", target: "_blank" %> near Vienna</li>
			<li>Subjects I mostly taught: Math, Visual Arts, IT, History</li>
			<li>Worked with children on international projects  
				(<%= link_to "Comenius", "http://comeniuswidehorizons.blogspot.com", 
				rel: "Link to Comenius Project 'Wide Horizon'", target: "_blank" %>)</li>
			<li>Worked for the <%= link_to "Ministry of Education of Austria", "http://net-1.bmukk.gv.at/index.aspx",
				rel: "Link to Projects of the Ministry of Education of Austria'", target: "_blank" %> 
				on better ways to teach children</li>
			<li>Had a substitute role for the headmaster of my school</li>
			<li>Organized school events, like a language week in Great Britain</li>
			<li>Wrote theater plays for children and brought them on stage</li>
		</ul>
	</p>
</div>