
<div id="content_left">
	<%= render 'static_pages/content_webdevelopment' %>
	<%= render 'static_pages/content_teaching' %>
	
</div>
<div id="content_right">
	
	<%= render 'static_pages/content_studies_lang' %>

</div>