
<div id="content_1" class="span6">
	<%= render 'static_pages/content_webdevelopment' %>
	<%= render 'static_pages/content_teaching' %>
	
</div>
<div id="content_2" class="span5">
	
	<%= render 'static_pages/content_studies_lang' %>

</div>
<div id="content_3" class="span12">
	
	<%= render 'static_pages/content_contact' %>
	
</div>