<div class="project_body">
	<header class="project_header">
		<h2>Black Jack</h2>
		<ul>
			<li><%= link_to "See the App", blackjack_path, ref: "Link to the App Black Jack", target: "_blank" %></li>
			<li><%= link_to "See the Code", "https://github.com/danigro77/Black-Jack", ref: "Link to GitHub", target: "_blank" %></li>
			<li>March-April 2012</li>
		</ul>
	</header>
	<article class="project_article">
		<p>After finishing the final project <span>Black Jack</span> at <%= link_to "Codecademy", "http://www.codecademy.com/", 
			ref: "Link to Codecademy", target: "_blank" %> I was confident to be able to improve the project. I used JavaScript, HTML, CSS and jQuery.
		</p>
	</article>
</div>