<div class="project_body">
	<header class="project_header">
		<h2>NAME</h2>
		<ul>
			<li><%= link_to "See the App", "LINK", ref: "Link to the App NAME", target: "_blank" %></li>
			<li><%= link_to "See the Code", "https://github.com/danigro77/LINK", ref: "Link to GitHub", target: "_blank" %></li>
			<li>DATE</li>
		</ul>
	</header>
	<article class="project_article">
		<p>
			DESCRIPTION
		</p>
	</article>
</div>