<% provide(:title, "Contact")%>
<% provide(:header, "Contact")%>
<h1><% yield(:header) %></h1>
<div id="hcard-Daniela-Grossmann" class="vcard">
  <img style="float:left; margin-right:4px" src="http://www.gravatar.com/avatar/b8beff9b178158df2ebe2613f5283f0d.png" alt="photo of " class="photo"/>
 <span class="fn">Daniela Grossmann</span>
 <a class="email" href="mailto:daniela.grossmann@gmail.com">daniela.grossmann@gmail.com</a>
 <div class="adr">
  <span class="locality">San Francisco</span>
, 
  <span class="region">CA</span>

 </div>
<p style="font-size:smaller;">This <a href="http://microformats.org/wiki/hcard">hCard</a> created with the <a href="http://microformats.org/code/hcard/creator">hCard creator</a>.</p>
</div>
