<% provide(:title, "My projects")%>
<% provide(:header, "My projects")%>
<% provide(:link_title, "Home")%>
<% provide(:link, root_path)%>
<% provide(:style, 'custom')%>
<% provide(:js, 'application')%>
<% provide(:style_class, 'AboutMe')%>

<div class="row-fluid">
	<div class="span12">
		<div class="span10 offset1" id="project">
			
			<%= render 'static_pages/project_black_jack' %>
			<!-- <%= render 'static_pages/project_template' %> -->
			
		</div>
	</div>
</div>
