@import "bootstrap";

/***********************
	COLORS
***********************/
$textColorBasic: black;
$textColorHighlight1: purple;
$textColorHighlight2: #f5d0f5;
$textColorDownlight1: gray;
$backgroundColorBasic: white;
$backgroundColorHighlight1: gray;
$backgroundColorHighlight2: lightGray;
$borderColor1: gray;


/***********************
	BASICS
***********************/
body.AboutMe {
	color: $textColorBasic;
	background: $backgroundColorBasic;
}
.AboutMe #wrapper {
	width: 100%;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}

a {
	text-decoration: none;
	color: $textColorHighlight1;
	&:hover {
		text-shadow: 1px 1px 2px $textColorHighlight2;
		filter: dropshadow(color=$textColorHighlight2, offx=1, offy=1);
		text-decoration: none;
		color: $textColorHighlight1;
	}
	&:visited {
		color: $textColorHighlight1;
	}
}



/***********************
	BODY
***********************/

#content, #project {
	background: image-url("flower1.png") 410px 20px repeat-y, image-url("flower1.png") left center no-repeat, $backgroundColorHighlight2;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 20px;
	position: relative;
}
#content_1, #content_2 {
	float: left;
	margin-bottom: 15px;
}
#content_2 {
/*	margin-left: 15px;
*/	h1 {
/*		margin-left: 0px;
*/	}	
}

#content_3 {
	clear: left;
}

#content span {
	font-style: italic;
}

/***********************
	CONTACT
***********************/

#contact {
/*	width: 90%;
*/	/*margin: 0 50px;*/
	padding: 5px;
/*	margin-bottom: 30px;
*/	font-size: 1.2em;
	border: $borderColor1 1px solid;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: $backgroundColorBasic;
	opacity: 0.8;
}
#hcard-Daniela-Grossmann {
	background: lightGray;
/*	width: 30%;
	padding: 40px;*/
	float: left;
/*	margin: 5px 0 15px 0;
*/	-webkit-border-radius: 5px;
	border-radius: 5px;
	div#contact_img {
		float: left;
		margin:10px
	};
	div#card_contact {
		float: left;
	};
}
.fn {
	margin: 10px 0 2px 0;
	font-size: 1.2em;
}
p.smaller {
	font-size: 0.6em;
	border-top: $borderColor1 1px dotted;
	margin-top: 5px;
}

#contact_links {
	
	.social_networks {
/*		padding: 45px 0;
		width: 25%;
*/		float: left;
		margin: 10px;
		ul {
			li {
				list-style-type: none;
			}
			a {
				color: $textColorDownlight1;
				&:hover {
					text-shadow: 1px 1px 2px $textColorHighlight1;
					filter: dropshadow(color=$textColorHighlight1, offx=1, offy=1);
					text-decoration: none;
					color: $textColorDownlight1;
				}
			}
		}		
	}
}

/***********************
	PROJECTS
***********************/
#project {
	.project_body {
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background: $backgroundColorBasic;
		opacity: 0.8;
		padding: 10px;
		margin-bottom: 10px;
		-webkit-box-shadow: 2px 2px 3px rgba(173,173,173, 0.8);
		box-shadow: 2px 2px 3px rgba(173,173,173, 0.8);
		.project_header {
			background: $backgroundColorBasic;
			opacity: 0.8;
			margin-bottom: 5px;
			h2 {
				float: left;
			}
			ul {
				margin-top: 13px;	
				float: left;
				border-bottom: $borderColor1 dotted 1px;
				li {
					list-style-type: none;
					display: inline;
					margin-right: 20px;
				
					&:last-child {
						margin-right: 10px;
						font-size: 0.9em;
					}
				}
				
			}


		}
		.project_article {
			clear: left;
			margin-left: 30px;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			-webkit-box-shadow: 2px 2px 5px rgba(143,143,143, 0.8);
			box-shadow: 2px 2px 5px rgba(143,143,143, 0.8);
		}
	}
}


/***********************
	DEBUGGING
***********************/
.red {
	background-color:red;
}
.blue {
	background-color:blue;
}


