<header class="navbar navbar-fixed-top">
	<h1><%= link_to "Daniela Grossmann ", "#{yield(:link)}", id: "title", rel: "Daniela Grossmann - Link to Contact or Home" %><span id="title-2"><%= yield(:header) %></span></h1>
</header>